body {
  background-color: #ffdddd;
}

h1 {
  color: #ef308a;
}

.intro {
  width: 40%;
  float: right;
  margin: 0 5% 0 5%;
}

.examples {
  width: 30%;
  float: right;
  margin: 0 5% 0 5%;
}

.info {
  width: 50%;
  margin: 0 5% 0 5%;
}

.home-img {
 position: relative;
 width: 40%;
 margin: 0 5% 0 5%;
}

footer {

}
