body {
  background-color: #ffdddd;
}

h1 {
  color: #ef308a;
}

.intro {
  width: 40%;
  float: right;
  margin: 0 5% 5% 5%;
  font-size: 18px;
  text-align: justify;
}

.examples {
  width: 30%;
  float: right;
  margin: 0 5% 5% 5%;
}

.info {
  width: 50%;
  margin: 0 5% 5% 5%;
  float: left;
}

.home-img {

 width: 35%;
 margin: 0 5% 5% 10%;
 float: left;
}

footer {
  text-align: center;
  float: none;
  position: fixed;
  bottom: 0;
}
