* {
  font-family: 'Raleway', sans-serif;
  color: #8f106a;
}

body {
  background-color: #ffdddd;
}

img {
  border-style: dashed;
  border-width: medium;
  border-radius: 7%;
  height: auto;
  width: 30%;
  margin: 0 9% 0 9%;

}

h1, h2 {
  color: #ef308a;
  font-weight: bold;
  font-style: italic;
  margin-left: 10%;
  font-weight: bolder;
}

hr + h2{
  font-size: 30px;
}

h3{
  color: #af108a;
  text-decoration: underline;
}

img[src="images/rainbow-icon.png"]{
  height: 60px;
  width: 60px;
  float: right;
  border: 0;
  margin-right: 5%;
}

a[href*="youtube"]{
  font-size: 15px;
}

a[href*="youtube"]:hover{
  font-size: 15px;
  font-style: italic;
}

table[border]{
  font-size: 18px;
}


#intro {
  width: 40%;
  float: right;
  margin: 0 5% 5% 5%;
  font-size: 18px;
  text-align: justify;
  max-height: 200px;
}

#examples {
  width: 30%;
  float: right;
  margin: 0 5% 5% 5%;
}

.info {
  width: 50%;
  margin: 0 5% 5% 5%;
  float: left;
  position: relative;
}

#home-img {
 margin: 0 5% 5% 10%;
 float: left;
}

.how-to {
  width: 90%;
  margin: 0 5% 5% 5%;
  float: left;
}

.nav {
  border-style: dotted;
  border-width: thin;
  padding: 2%;
  background-color: #ffeded;
}

.nav a {
  color: #af108a;
  margin: 6px 8.5%;
  text-decoration: none;
}

.nav + hr {
  margin: 3% 0 3% 0;
}

h3 + ol {
  font-style: italic;
}

li a {
  color: #ff68dc;
}

a {
  color: #ef58cc;
}

a:hover{
  color: #ff74fa;
}

th:hover{
  font-style:italic;
}

ol li:last-child{
  color: #7f004a;
}

th {
  /* font-size: 15px; */
  padding: 2%;
  width: 10%;
}

table {
  border-color: #af108a;
}

th td {
  font-style: bold;
}

footer {
  font-size: 15px;
  text-align: center;
  height: 5%;
  width: 100%;
  float: none;
}

hr {
  border-color: #ef70ca;
  border-width: thin;
}
