* {
  font-family: 'Raleway', sans-serif;
  color: #8f106a;
}

body {
  background-color: #ffdddd;
}

img {
  border-style: dashed;
  border-width: medium;
  border-radius: 7%;
  
}

h1, h2 {
  color: #ef308a;
  font-weight: bold;
  font-style: italic;
}

h3{
  color: #af108a;
}

img[src="images/rainbow-icon.png"]{
  height: 60px;
  float: right;
  border: 0;
}

#intro {
  width: 40%;
  float: right;
  margin: 0 5% 5% 5%;
  font-size: 18px;
  text-align: justify;
  max-height: 200px;
}

#examples {
  width: 30%;
  float: right;
  margin: 0 5% 5% 5%;
}

.info {
  width: 50%;
  margin: 0 5% 5% 5%;
  float: left;
}

.home-img {
 margin: 0 5% 5% 10%;
 float: left;
}

.how-to {
  width: 90%;
  margin: 0 5% 5% 5%;
  float: left;
}

.nav a {
  color: #af108a;
  margin: 6px;
}

a {
  color: #ef58cc;
}

a:hover{
  color: #ff78ec;
}

th {
  /* font-size: 15px; */
  padding: 2%;

}

table {
  border-color: #af108a;
}

footer {
  font-size: 15px;
  text-align: center;
  height: 5%;
  width: 100%;
}
